
<table class="table-auto w-full border-collapse border border-gray-300">
  <thead>
    <tr class="bg-gray-100">
      <th class="border px-4 py-2">Project Title</th>
      <th class="border px-4 py-2">Username</th>
      <th class="border px-4 py-2">Category Name</th>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project| %>
      <tr class= "text-center">
        <td class="border px-4 py-2"><%= project.title %></td>
        <td class="border px-4 py-2"><%= project.username %></td>
        <td class="border px-4 py-2"><%= project.category_name || '-' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="fixed bottom-0 left-0 w-full bg-white border-t border-gray-200 py-3">
  <div class="flex justify-center">
  <%= paginate projects, params: { sort_option: @sort_option, sort_type: @sort_type } %>
  </div>
</div>
